FZGX_StageEditor_UnityProject/FZGX_StageEditor_UnityProject.VC.db
FZGX_StageEditor_UnityProject/FZGX_StageEditor_UnityProject.VC.VC.opendb

# Ignore decompiled ROM folders
/FZGX_EN/
/FZGX_JP/
/FZGX_PAL/
/[Rr][Oo][Mm][Ss]/